<div class="total_num_of_contact">

  <p>There are <span class="count-number"><%= @all_contacts.count %></span> contacts</p>

</div>

<ul class="main-contact-list">
  <% @all_contacts.each do |contact| %>

  <li>

    <h2><%= contact.full_name %> (<%= contact.email %>)</h2>

    <div class="edit-delete">
      <a href="/contacts/<%= contact.id %>">Edit</a> |
      <a href="#">Delete</a>
    </div>

  </li>

  <% end %>
  
</ul>
