<div class="contact-container">

  <div class="contact-info">

    <p>NAME: <%= @contact.full_name %></p>
    <p>EMAIL: <%= @contact.email %></p>
    <p>NOTE: <%= @contact.note %></p>

  </div>

</div>

<!-- TIPS: Always have a content box inside a container box -->
